@use "@angular/material" as mat;
@import "src/theme/theme-variables";
.login {
    justify-content: center;
    display: flex;
    padding-top: 50px;
}

.container {
    max-width: 30%;
    padding: 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4s;
    padding: 40px 32px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.cat {
    height: 100px;
    width: 100px;
}