<navbar-menu></navbar-menu>

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card class="home-card">
            <mat-card-title-group>
                <img mat-card-md-image src="../../../assets/animal.png">
                <mat-card-title class="tile-card">Animal</mat-card-title>
            </mat-card-title-group>
            <mat-card-content>
                <h3 (click)="handleClickCadastrarAnimal()" class="label-card">Realize aqui o cadastro do seu pet.</h3>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="home-card">
            <mat-card-title-group>
                <mat-card-title class="tile-card">Consultas</mat-card-title>
                <img mat-card-md-image src="../../../assets/consulta.png">
            </mat-card-title-group>
            <mat-card-content>
                <h3 (click)="handleClickVisualizarConsulta()" class="label-card">Visualize aqui todas as suas consultas marcadas, canceladas.</h3>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="home-card">
            <mat-card-title-group>
                <mat-card-title class="tile-card">Exames</mat-card-title>
                <img mat-card-md-image src="../../../assets/exame.jpg">
            </mat-card-title-group>
            <mat-card-content>
                <h3 class="label-card">Visualize aqui os exames do seu pet.</h3>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="home-card">
            <mat-card-title-group>
                <mat-card-title class="tile-card">Configurações</mat-card-title>
                <img mat-card-md-image src="../../../assets/user.png">
            </mat-card-title-group>
            <mat-card-content>
                <h3 class="label-card">Configurações de usuário.</h3>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>