<navbar-menu></navbar-menu>
<mat-card class="mat-elevation-z0 container">
    <div>
        <h6 class="visualizar-consultas">Consultas Agendadas</h6>
    </div>
    <mat-form-field appearance="standard">
        <mat-label>Filtros</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Data da Consulta </th>
                <td mat-cell *matCellDef="let row"> {{row.data}}% </td>
            </ng-container>

            <ng-container matColumnDef="medico">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Médico(a) Veterinário (a) </th>
                <td mat-cell *matCellDef="let row"> {{row.medico}} </td>
            </ng-container>

            <ng-container matColumnDef="paciente">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Paciente </th>
                <td mat-cell *matCellDef="let row"> {{row.paciente}} </td>
            </ng-container>

            <ng-container matColumnDef="proprietario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Proprietário </th>
                <td mat-cell *matCellDef="let row"> {{row.proprietario}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status da Consulta </th>
                <td mat-cell *matCellDef="let row"> {{row.status}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20 , 30]" aria-label="Select page of users"></mat-paginator>
    </div>

</mat-card>