<div class="signin-content">
    <mat-card>
        <mat-card-content>
            <form (ngSubmit)="onSubmit()">
                <img mat-card-image src="../../../assets/pet.png" alt="logo">
                <mat-form-field class="full-width-input" appearance="outline">
                    <input matInput placeholder="Usuário">
                    <!--  <mat-error *ngIf="isFieldInvalid('userName')">
                        Informe um usuário válido!
                    </mat-error>-->
                </mat-form-field>
                <mat-form-field class="full-width-input" appearance="outline">
                    <input matInput type="password" placeholder="Senha">
                    <!--<mat-error *ngIf="isFieldInvalid('userName')">
                       Informe uma senha válida!
                    </mat-error>-->
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" (click)="handleClick()">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>