@use "@angular/material" as mat;
@import "src/theme/theme-variables";
* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: mat.get-color-from-palette($app-primary, 500);
}

div,
span {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
}

h5 {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: mat.get-color-from-palette($app-primary, 900);
  margin: 0;
}

h6 {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: mat.get-color-from-palette($app-primary, 900);
  margin: 10px 0;
}

.body-1 {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-size: 12px;
  color: mat.get-color-from-palette($app-primary, 800);
}

.body-2 {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 20px !important;
  letter-spacing: 0.25px !important;
  color: mat.get-color-from-palette($app-primary, 800);
}

.mat-line {
  display: flex !important;
  justify-content: left !important;
}

.mat-list-base {
  padding: 0 !important;
}

.mat-list-item {
  height: fit-content !important;
}

.mat-list-item-content {
  padding: 0 !important;
}

.mat-tooltip-panel .mat-tooltip {
  font-size: 12px;
}

.mat-tooltip {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff !important;
  background: rgba(103, 158, 236, 0.9);
  // background-color: mat-color($app-primary, 100);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.mat-input-element::placeholder {
  color: mat.get-color-from-palette($app-primary, 400);
}

.mat-form-field-flex {
  align-items: center !important;
}

.mat-form-field-wrapper {
  padding: 0;
  height: 20px;
  margin: 0;
}

.mat-form-field-infix {
  padding: 0;
  border: 0;
  font-size: 12px;
  line-height: 20px;
  color: mat.get-color-from-palette($app-primary, 800);
}

.mat-progress-bar-fill::after {
  background-color: #69be28;
}

.mat-progress-bar-buffer {
  background-color: mat.get-color-from-palette($app-primary, 300);
}

.mat-progress-bar {
  border-radius: 4px !important;
  height: 5px !important;
}

.mat-paginator {
  background-color: transparent;
  color: mat.get-color-from-palette($app-primary, 800);
  .mat-paginator-container {
    justify-content: center;
  }
  .mat-paginator-range-label {
    margin-left: 0;
    margin-right: 8px;
    padding-top: 2px;
    width: 100px;
    text-align: center;
  }
  .mat-paginator-icon {
    width: 20px;
  }
  .mat-button-base {
    color: mat.get-color-from-palette($app-primary, 500);
  }
}

.mat-menu-panel {
  min-height: 0 !important;
  padding: 0 !important;
}

.mat-menu-content {
  padding: 0 !important;
}

.mat-tab-header,
.mat-tab-nav-bar {
  border-bottom: 0px solid #0000001f;
}
