/*
 * Application global variables.
 */

@use "@angular/material" as mat;
// Angular Material custom theme
// See https://material.angular.io/guide/theming for more details.
//
// You can also read https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1
// for more insight about Angular Material theming.
$primary: ( 50: #fff, 100: #f4f4f5, 200: #f2f8ff, 300: #d1d5db, 400: #959dac, 500: #3d7edb, 600: #bb133e, 700: #a8083b, 800: #697489, 900: #353b46, A100: #d7e4f6, A200: #5898ff, A400: #2579ff, A700: #0c69ff, A800: #b3b9c4, contrast: ( 50: #000, 100: #000, 200: #000, 300: #000, 400: #fff, 500: #fff, 600: #fff, 700: #fff, 800: #fff, 900: #fff, A100: #000, A200: #000, A400: #fff, A700: #fff, ), );
$custom-colors: ( successful: #2d8709, );
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$app-primary: mat.define-palette($primary);
// stylelint-disable-next-line value-keyword-case
$app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$app-warn: mat.define-palette(mat.$red-palette);
// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat.define-light-theme($app-primary, $app-accent, $app-warn);
// Material design icons font path
$material-design-icons-font-directory-path: "~material-design-icons-iconfont/dist/fonts/";
::-webkit-scrollbar {
    width: 12px;
    background-color: mat.get-color-from-palette($app-primary, 100);
}

::-webkit-scrollbar-thumb {
    width: 6px !important;
    background-color: mat.get-color-from-palette($app-primary, A800);
    border-radius: 24px;
    border: 3px solid mat.get-color-from-palette($app-primary, 100);
}

::-webkit-scrollbar-thumb:hover {
    background-color: mat.get-color-from-palette($app-primary, 400);
}

::-moz-scrollbar {
    width: 12px;
    background-color: mat.get-color-from-palette($app-primary, 100);
}

::-moz-scrollbar-thumb {
    width: 6px !important;
    background-color: mat.get-color-from-palette($app-primary, A800);
    border-radius: 24px;
    border: 3px solid mat.get-color-from-palette($app-primary, 100);
}

::-moz-scrollbar-thumb:hover {
    background-color: mat.get-color-from-palette($app-primary, 400);
}