mat-grid-tile {
    background: rgb(247, 250, 250);
}

.home-card {
    max-width: 70%;
    margin-bottom: 8px;
    width: 500px;
    cursor: pointer;
}

.label-card {
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 24px;
}

.tile-card {
    letter-spacing: 1px;
    color: #ea8d1a;
}

.home-content {
    padding: 60px 1rem;
}