<ng-container *ngIf="overlay; else progressSpinner">
    <div class="container-loading-overlay">
        <div class="container-loading-center">
            <ng-template [ngTemplateOutlet]="progressSpinner"></ng-template>
        </div>
    </div>
</ng-container>
<ng-template #progressSpinner>
    <div class="spinner">
        <mat-progress-spinner [diameter]="diameter" [color]="color" [strokeWidth]="strokeWidth" [value]="value">
        </mat-progress-spinner>
    </div>
    <div>
        <span class="message">{{ message }}</span>
    </div>
</ng-template>