<navbar-menu></navbar-menu>

<mat-card class=" container">
    <div>
        <h6 class="cadastro"> Cadastro de dados do Animal</h6>
    </div>
    <form class="form" [formGroup]="createForm">
        <div class="form-group">
            <div class="select-form">
                <mat-form-field class="full-position" appearance="fill">
                    <mat-label>Nome</mat-label>
                    <input name="nome" formControlName="nome" matInput>
                </mat-form-field>
                <mat-form-field class="full-position--operation-situation" appearance="fill">
                    <mat-label>Raça</mat-label>
                    <input name="raca" formControlName="raca" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="form-group">
            <div class="select-form">
                <mat-form-field class="full-position" appearance="fill">
                    <mat-label>Espécie</mat-label>
                    <input name="especie" formControlName="especie" matInput>
                </mat-form-field>
                <mat-form-field class="full-position--operation-situation" appearance="fill">
                    <mat-label>Pelagem</mat-label>
                    <input name="pelagem" formControlName="pelagem" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="form-group">
            <div class="select-form">
                <mat-form-field class="full-position" appearance="fill">
                    <mat-label>Peso</mat-label>
                    <input name="peso" formControlName="peso" matInput>
                </mat-form-field>
                <mat-form-field class="full-position--operation-situation" appearance="fill">
                    <mat-label>Gênero</mat-label>
                    <mat-select formControlName="genero">
                        <mat-option *ngFor="let genero of generoAnimalList" [value]="genero.name">
                            {{genero.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="form-group">
            <div class="select-form">
                <mat-form-field class="full-position" appearance="fill">
                    <mat-label>Idade</mat-label>
                    <input name="idade" formControlName="idade" matInput>
                </mat-form-field>

                <mat-form-field class="full-position--operation-situation" appearance="fill">
                    <mat-label>Proprietário</mat-label>
                    <mat-select formControlName="idCliente">
                        <mat-option *ngFor="let cliente of proprietarioAnimalList" [value]="cliente.id">
                            {{cliente.nome}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>
    <div class="buttons-actions">
        <button mat-raised-button color="primary" type="create" (click)="create()">Salvar</button>
    </div>

</mat-card>