<div class="container" [class.mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="name">PetCenter</h1>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <span *ngFor="let item of menu">
            <span *ngIf="item.children && item.children.length > 0">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>                  
                      <div fxLayout="row" fxLayoutAlign="space-between center" >                       
                        {{item.displayName}}
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <span *ngFor="let child of item.children">
                    <mat-list-item [routerLink]="[child.route]" routerLinkActive="active">                     
                      <div fxLayout="row" fxLayoutAlign="space-between center" >                       
                        {{child.displayName}}
                      </div>
                    </mat-list-item>
                  </span>
                </mat-expansion-panel>
                </mat-accordion>
                </span>
                <span *ngIf="!item.children || item.children.length === 0">
              <mat-list-item [routerLink]="[item.route]" routerLinkActive="active">               
                <div fxLayout="row" fxLayoutAlign="space-between center">                
                  {{item.displayName}}
                </div>
              </mat-list-item>
            </span>
                </span>
            </mat-nav-list>
        </mat-sidenav>
    </mat-sidenav-container>